/* Адаптив */
$mobile: 320px;
$tablet: 768px;
$desktop: 1360px;

/* Шрифты */
$fontRegular: "ProximaNova-Regular", sans-serif;
$fontBold: "ProximaNova-Bold", sans-serif;
$fontSemibold: "ProximaNova-Semibold", sans-serif;
$fontLight: "ProximaNova-Light", sans-serif;

/* Заголовки */
$titleColor: #3052D8;

/* Текст */
$textColor: #08113F;